/* CSS Reset & Global Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans';
  -webkit-appearance: none;
  appearance: none;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(7, 210, 199);
  transition: 0.8s all;
}

h1 {
  margin-bottom: 1.5%;
  color: #fff;
  font-weight: normal;
}

.container {
  width: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.top-buttons {
  display: flex;
  align-items: center;
}

input {
  padding: 30px;
  color: rgb(87, 87, 87);
  font-size: 1.2em;
  cursor: pointer;
  width: 85px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 100px;
  margin: 0.3em;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  margin-bottom: 6px;
}

input[type="button"] {
  color: rgb(122, 122, 122);
}

input[type="text"] {
  background-color: rgb(255, 255, 255);
  width: 280px;
  font-size: 1.4em;
}

input[type="button"]:hover {
  background-color: rgb(37, 35, 59);
  color: #fff;
}

#clear-button {
  color: #fff;
  background-color: rgb(255, 25, 25);
}

a {
  text-decoration: none;
  color: #fff;
}

#github-icon {
  margin-right: 10px;
}

.theme-button {
  all: unset;
  cursor: pointer;
}
